<template>
  <div class="brush-group">
    <brush 
      v-for="(brush, i) in brushes"
      :posX="brush.posX" 
      :posY="brush.posY"
      :size="brush.size"
      :opac="brush.opac"
      :brushType="brush.type"
      :brushVariation="brush.variation"
      :filterId="id"
      :index="i"
      :key="'brush'+i"
    />
    <!-- effects includes --> 
    <color :matrix="colorMatrix" :filterId="id"/>
  </div>
</template>
<script>

import Brush from './Brush.vue';
import Color from '../Filters/color.vue';

export default {
  name: "BrushGroup",
  props: ['brushes', 'colorMatrix', 'id'],
  components: {
    Brush,
    Color
  },
  mounted(){
    this.$emit("brush-group-mounted");
  }
}
</script>

<style scoped>
.brush-group {
  position: fixed; 
  top: 0px;
  left: 0px;
}

.fade-enter-active {
  animation: fade-in .5s forwards;
  -webkit-animation: fade-in .5s forwards;
}

.fade-leave-active {
  animation: fade-out .5s forwards;
  -webkit-animation: fade-out .5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
</style>
