<template>
  <transition name="fade">
  <div v-if="show" class="dumb-container">
    <div 
      :style="{
        height: `${size}px`, 
        width: `${size}px`, 
        top: `${posY}px`, 
        left: `${posX}px`,
        filter: `url(#monochrome${filterId})`,
        webkitFilter: `url(#monochrome${filterId})`
        }"
      class="brush"
      :class="randBrush"
      :key="'brushy'+index">
    </div>
  </div>
  </transition>
</template>

<script>
export default {
  props:['posX', 'posY', 'size', 'opac', 'brushType', 'brushVariation', 'index', 'filterId'],
  name: 'Brush',
  data: () => {
    return {
      show: false,
      randBrush: ''
    }
  },
  beforeMount(){
    this.randBrush = this.brushType + this.brushVariation;
  },
  mounted() {
    this.show = true;
  },
}
</script>

<style scoped>
.dumb-container{
  opacity: 1;
  position: fixed;
}
.brush {
  display: block;
  position: fixed;
  background-color: transparent;
  background-size:100% 100%;
}


.lump1 {
  background: url("../../assets/brushes/powder/powder-lump1.png") no-repeat center;
}

.lump2 {
  background: url("../../assets/brushes/powder/powder-lump2.png") no-repeat center;
}

.lump3 {
  background: url("../../assets/brushes/powder/powder-lump3.png") no-repeat center;
}

.lump1, .lump2, .lump3 {
  background-size:100% 100%;
}

.central1 {
  background: url("../../assets/brushes/powder/powder-central1.png") no-repeat center;
  background-size:100% 100%;
}

.dust1 {
  background: url("../../assets/brushes/powder/powder-dust1.png") no-repeat center;
  background-size:100% 100%;
}

.sprinkles1, .sprinkles3, .sprinkles4{ 
  background: url("../../assets/brushes/powder/powder-sprinkles1.png") no-repeat center;
  background-size:100% 100%;
}
.sprinkles5, .sprinkles6, .sprinkles7, .sprinkles10 { 
  background: url("../../assets/brushes/powder/powder-sprinkles2.png") no-repeat center;
  background-size:100% 100%;
}
.sprinkles8 { 
  background: url("../../assets/brushes/powder/powder-sprinkles3.png") no-repeat center;
  background-size:100% 100%;
}
.sprinkles9 { 
  background: url("../../assets/brushes/powder/powder-sprinkles4.png") no-repeat center;
  background-size:100% 100%;
}


</style>