<template>
    <div class="point"
        :style="{top:posY+'px', left: posX+'px'}"
        :key="'point'+index"
    ></div>
</template>

<script>
export default {
    props:['posX', 'posY', 'index'],
    name: 'Point'
}
</script>

<style scoped>
.point {
  display: block;
  position: absolute;
  background-color: black;
  height: 2px;
  width: 2px;
} 
</style>