<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Dust-O-Matic</title>
    <meta property="og:title" content="Dust-O-Maker" />
    <meta property="og:type" content="application" />
    <meta property="og:url" content="https://myklb.gitlab.io/vuejs-sandbox/" />
    <meta property="og:image" content="http://myklb.gitlab.io/vuejs-sandbox/dust-sample.png" />
    <meta property="og:image:secure_url" content="https://myklb.gitlab.io/vuejs-sandbox/dust-sample.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1254" />
    <meta property="og:image:height" content="1002" />
    <meta property="og:image:alt" content="piles of colorful dust" />

    <style>
      body, html {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but vuejs-sandbox doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
 
</html>
