<template>
  <main>
    <div class="view-container">
      <brush-group 
        v-for="(elps, i) in ellipses" 
        :key="`${elps}${i}`"
        :brushes="elps.brushes" 
        :colorMatrix="elps.matrix"
        :id="i"
        v-on:brush-group-mounted="updateInterface" />
    </div>
    <transition name="fade-tracker">
      <mouse-tracker
        v-if="!showSpinner && (brushCount < maxBrushes)"
        :size="50"
        :color="color"
        :showToolTip="showToolTip"
        v-on:create-dust="handleCreateDust"
        v-on:handle-grow="showToolTip = false"
        />
    </transition>
    <spinner 
      :show="showSpinner" 
      :color="color"
      :position="spinnerPosition"/>
    <div class="interface-container">
      <div 
        v-if="!showSpinner && (brushCount >= maxBrushes)"
        class="max-message"
        >Maxium Dustage Reached</div>
      <transition name="palette-animate" >
        <color-picker  
          v-show="showPalette && (brushCount <= maxBrushes)" 
          v-on:color-selected="handleColorSelection"/>
      </transition>
      <button 
        v-if="brushCount <= maxBrushes"
        class="color-btn" 
        :class="{'big-btn' : showPalette}" 
        @click="paletteToggle"><cancel-icon class="small-x"/></button>
      <button @click="clear" class="clear-btn"><cancel-icon class="small-x"/></button>
    </div>
  </main>
</template>

<script>
import BrushGroup from '../components/BrushGroup/BrushGroup.vue';
import MouseTracker from '../components/UI/mouseTracker.vue';
import Spinner from '../components/UI/spinner.vue';
import ColorPicker from '../components/UI/colorPicker.vue';
import ellipse from  '../services/ellipse.js';
import brushes from '../services/brushes.js';
import CancelIcon from '../components/UI/cancelIcon.vue'

export default {
  name: "DustMaker",
  data: () => ({
      windowHeight: window.innerHeight,
      windowWidth: window.innerWidth, 
      show: false,
      showPalette: false,
      showSpinner: false,
      spinnerPosition: {x:0, y:0},
      ellipses: [],
      maxBrushes: 2200,
      mobile: false,
      brushCount: 0,
      color: null,
      showToolTip: true
  }),
  components: {
    BrushGroup,
    MouseTracker, 
    Spinner, 
    ColorPicker,
    CancelIcon
  },
  methods:{
    updateInterface(){
      // this.generateColor();
      this.spinnerToggle();
    },
    spinnerToggle(c){
      this.spinnerPosition = c || {x:0, y:0};
      this.showSpinner = !this.showSpinner;
    },
    paletteToggle(){
      this.showPalette = !this.showPalette;
    },
    handleColorSelection(clr){
      this.color = clr;
      this.showPalette = false;
    },
    handleCreateDust(c, size){
      this.showToolTip = false;
      this.spinnerToggle(c);
      if(this.mobile){
        this.clear()
      }
      const center = c || { x: this.windowWidth/2, y: this.windowHeight/2}
      const radius = {...this.randRadius(size)};
      const theta = Math.PI/Math.floor((Math.random() * 9)+2);
      
      //instantiate a new ellipse object
      const elps = new ellipse(center, radius, theta);
      elps.brushes = [];
      elps.colorMatrix = '';
      
      //generate coordinates for different brush types
      const sprinkleCoordinates = elps.randomizedCircumfrancePoints(50 + size*1.3, 150);
      const dustCoordinates = elps.randomizedCircumfrancePoints(50 + size*1.7, size/20);
      const centralCoordinates = elps.randomizedFillPoints(50 + size*20, 10);
      const lumpCoordinates = elps.randomizedFillPoints(10 + size, -Math.abs(size*3));
      
      //create new brushes
      
      const sprinkleBrushes = new brushes(sprinkleCoordinates, 'sprinkles', 9);
      const dustBrushes = new brushes(dustCoordinates, 'dust');
      const centralBrushes = new brushes(centralCoordinates, 'central');
      const lumpBrushes = new brushes(lumpCoordinates, 'lump', 3);

      //remove redundant brushes from central masses:
      centralBrushes.removeOverlaps(.3);
      lumpBrushes.removeOverlaps(.4);

      //prepare and display brush
      setTimeout(() => {
        elps.matrix=this.convertRGBtoRGBAgrid();
        elps.brushes.push(
          ...sprinkleBrushes.data,
          ...dustBrushes.data,
          ...centralBrushes.data,
          ...lumpBrushes.data);
        this.brushCount += elps.brushes.length;
        this.ellipses.push(elps);
      }, 500);       
    },
    clear(){
      if(this.mobile === false){
        this.showToolTip = true;
      }
      this.ellipses = [];
      this.xRadius = null;
      this.yRadius = null;
      this.theta = null;
      this.brushCount = 0;
    },
    convertRGBtoRGBAgrid(){
      const matrix = [];
      for (let [key, value] of Object.entries(this.color)) {
        let row = this.mv(key, value);
        matrix.push(...row);
      }
      matrix.push(...[0,0,0,1,0]); //defaulting the alpha channel for now.
      return matrix; 
    },  
    mv(color, val){ //matrix value.
      const matrixRow = [0,0,0,0,0]
      const mVal = (val/255).toFixed(2);
      let pos = '';
      switch (color){
        case 'red':
          pos = 0;
          break;
        case 'green':
          pos = 1;
          break;
        case 'blue':
          pos = 2;
          break;
        default:
          return [0,0,0,0]; // probably something better to return here. 
      }
      matrixRow.splice(pos, 1, mVal);
      return matrixRow;          
    },
    calculateRandomInRange(midpoint, variation){
      const min = midpoint - variation;
      const max = midpoint + variation;
      const result =((Math.random() * (max - min)) + min).toFixed(0);
      return result
    },
    randRadius(size){
        //size 30
        const sizeMultiplier = size/100;
        let xRange = (this.windowHeight/2)*sizeMultiplier;
        let yRange = (this.windowWidth/2)*sizeMultiplier;
        const minR =  50 ;
        //generate random radius in rage 
        let xRadius = Math.floor(this.calculateRandomInRange(xRange, xRange/2));
        let yRadius = Math.floor(this.calculateRandomInRange(yRange, yRange/2));
        //min radius check
        xRadius = xRadius < minR ? minR : xRadius;
        yRadius = yRadius < minR ? minR : yRadius;
        return  { x: xRadius, y: yRadius};
    },
    generateColor(){
      this.color = {
        red: Math.floor(Math.random()*256),
        green: Math.floor(Math.random()*256),
        blue: Math.floor(Math.random()*256)
      }
    },
    isMobile() {
      if((this.windowWidth < 420 && this.windowHeight < 850) || (this.windowWidth < 850 && this.windowHeight < 420)){
        this.mobile = true;
      } else {
        this.mobile = false;
      }
    },
    onResize() {
      this.windowHeight = window.innerHeight;
      this.windowWidth = window.innerWidth;
      //check for a large mobile size. We'll change the behavior later based on this
      this.isMobile();
    }
  },
  beforeMount(){
    if(!this.color){
      this.generateColor();
    }
    this.matrix = this.convertRGBtoRGBAgrid();
    //check for a large mobile size. We'll change the behavior later based on this
    this.isMobile();
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })
  },
  beforeDestroy() { 
    window.removeEventListener('resize', this.onResize); 
  }
}; 
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
main {
  display: flex;
  flex: 1 1;
  flex-flow: column;
  overflow: hidden;
  scroll-behavior: none;

}

.view-container {
  flex: 1 1;
  overflow: hidden;
}
.interface-container {
  display: flex;
  position: fixed; 
  bottom: 0px;
  right: 0px;
  height: 135px;
  padding: 20px 45px;
  text-align: right;
  font-size: 14px;
  box-sizing: border-box;
  align-items: center;
}

.interface-container span {
  margin-left: 10px;
  padding: 10px;
  background-color: rgb(0,0,0,0.5);
  color: white;
  word-wrap: none;
}

.max-message {
  padding: 20px;
  border-radius: 40px;
  background-color: rgba(0,0,0,.7);
  color: rgba(255,150,200,1 );
}

button {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-left: 18px;
  height: 44px;
  width: 44px;
  border-radius: 30px;
  background-color: #999;
  opacity: .5;
  border: 5px solid white;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.57);
  outline:none;
  box-sizing: border-box;
}

.small-x{
  height: 24px;
  width: 24px;
}


.color-btn {
  color: transparent;
  background: rgb(220,244,1);
  background: linear-gradient(129deg, rgba(220,244,1,1) 1%, rgba(0,196,83,1) 27%, rgba(3,88,208,1) 57%, rgba(255,0,200,1) 84%);
  transition: all .3s;
}

.color-btn .small-x {
  display: none;
}

.color-btn:hover {
  opacity: 1;
  transform: rotate(90deg);
  background: rgb(220,244,1);
  background: linear-gradient(129deg, rgba(220,244,1,1) 0%, rgba(0,196,83,1) 12%, rgba(3,88,208,1) 37%, rgba(255,0,200,1) 84%);
}

.big-btn {
  height: 78px;
  width: 78px;
  border-radius: 40px;
  background: #aaa;
  color: white;
  opacity: 1;
  font-size: 24px;
  transform: rotate(-90deg);
  border: 10px solid white;
  margin-right: -13px;
  margin-left: 5px;
}

.big-btn .small-x{
  display: inline-block;
  height: 44px;
  width: 44px;
}
.big-btn:hover{
  background: maroon; 
  transform: none;
  transition: all .6s;
}


.clear-btn:hover {
  background-color: maroon;
  opacity: 1;
  transition: opacity .3s;
}

.clear-btn:active{
  background-color: black;
  outline: none;
  -webkit-box-shadow: 0px 0px 9px -1px rgba(255,30,70,0.7);
  -moz-box-shadow: 0px 0px 9px -1px rgba(255,30,70,0.7);
  box-shadow: 0px 0px 9px -1px rgba(255,30,70,0.7);
}

.clear-btn:visited{
  outline: none;
}



.fade-tracker-enter-active {
  transition: opacity .6s;
  -webkit-transition: opacity .6s;
}
.fade-tracker-leave-active {
  transition: opacity .2s;
  -webkit-transition: opacity .2s;

}
.fade-tracker, .fade-tracker-leave-to  {
  opacity: 0;
}

.palette-animate-enter-active, .palette-animate-leave-active {
  transition: all .7s;
  -webkit-transition: all .7s;
}

.palette-animate-enter, .palette-animate-leave-to {
  transition: all .6s;
  transform: translateX(-200px);
  opacity: 0;
}


@media screen and (max-width : 850px) {
  .interface-container {
    padding: 0 12px;
    bottom: 0px;
  }
}

@media screen and (max-width: 450px){
  .interface-container {
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 20px;
    padding: 10px;
    text-align: none;
  }
  button {
    margin-top: 18px;
    margin-right: 19px;
    min-height: 44px;
    min-width: 44px;
    box-sizing: border-box;
  }
  .big-btn {
    min-height: 78px;
    min-width: 78px;
    margin-bottom: -13px;
    margin-top: 5px;
    margin-right: 1px;
  
  }

  .palette-animate-enter, .palette-animate-leave-to {
    transition: all .6s;
    transform: translateY(-100px);
    opacity: 0;
  }
  
}

</style>
