<template>
  <div class="defs-only">
    <svg>
      <filter
        :id="`monochrome${filterId}`"
        color-interpolation-filters="sRGB"
      >
        <feColorMatrix
          type="matrix"
          :values="matrix"
        />
      </filter>
    </svg>
  </div>
</template>

<script>
export default {
  name: "FilterColor",
  props: ['matrix', 'filterId']
}
</script>

<style scoped>
.defs-only{
    display: hidden;
}
</style>