<template>
  <div id="app">
    <header>
      <div>Dust Generator <span>Experiment</span></div>
    </header>
    <dust-maker/>
    <!-- <footer>
      <div>Michael Barbano</div>
    </footer> -->
  </div>
</template>

<script>
import DustMaker from './components/DustMaker.vue'

export default {
  name: 'app',
  components: {
    DustMaker
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  flex-flow: column;
  background-color: #fff;
  height: 100%;
}

header, footer {
  display: flex;
  flex-flow: row, nowrap;
  min-height: 88px;
  max-height: 88px;
  
  background-color: transparent;
  z-index: 2147483647;
  /* -webkit-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.57); */
  padding: 0 50px;
}

header {top: 0; z-index: 2147483647;}
footer {bottom: 0; z-index: 2147483646;}

header div, footer div {
  flex: 0 0;
  font-size: 15px;
  font-weight: bold; 
  align-self: center;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1px;
}

footer div {font-size: 12px;}
header div span {font-weight: normal;}

@media screen and (max-width : 850px) {
  #app header, #app footer {
    display: none;
    padding: 0
  }
  #app header {
    display: flex;
    min-height: 44px;
    max-height: 44px;
    padding: 0 14px;
    background-color: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }

  #app header div{
    font-size: 12px;
  }
   #app header div span{
    font-weight: normal;
  }
}
</style>
