<template>
  <svg  xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'>
    <title>ionicons-v5-l</title>
    <!-- thank you ion icons!!! --> 
    <line 
      x1='368'
      y1='368'
      x2='144'
      y2='144'
      style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
    <line 
      x1='368' 
      y1='144' 
      x2='144' 
      y2='368' 
      style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/>
    </svg>
</template>
<script>
export default {
  name: 'CancelIcon'
}
</script>