<template>
  <div class="container" >
    <div 
      class="palette-container"
      ref="palette-container"
      @mousemove="handleReadColor"
      @mouseleave="handleMouseLeave"
      @mouseenter="handleMouseEnter"
      @touchstart="handleReadColor"
      @touchmove="handleReadColor"
      @touchend="handleClick"
      >
      <canvas 
        ref="color-pallete" 
        class="palette"
      ></canvas>
      <div 
      ref="color-selector"
      v-show="track"
      class="color-selector"
      :style="{ 
        top:`${mouse.y}px`, 
        left: `${mouse.x}px`,
        backgroundColor: `rgba(${currentColor.red}, ${currentColor.green}, ${currentColor.blue}, 255)`
      }"
      @click="handleClick"
      ></div>
    </div>
  </div>
</template>
<script>
export default {
  name: "ColorPicker",
  data: () => ({
    provider: {
      context: null
    },
    $canvasEl: null,
    $canvasContainer: null,
    width: 600,
    height: 60,
    selectedColor: '',
    currentColor:{ red: 255, blue: 255, green: 255 },
    track: false,
    mouse: {
      x:0,
      y:0
    }
  }),
	methods: {
    handleClick(){
      this.selectedColor = this.currentColor;
      this.$emit('color-selected', this.currentColor);
    },
    handleReadColor(event){
      let mX,mY;
      if (event.touches){
        this.mouse.x = event.touches[0].clientX;
        this.mouse.y = event.touches[0].clientY;
      }  else {
        this.mouse.x = event.pageX;
        this.mouse.y = event.pageY
      }
      mX = this.mouse.x;
      mY = this.mouse.y;
    
      this.track = true;
      const childRec = this.$refs['color-selector'].getBoundingClientRect();
      const parentRec = this.$canvasContainer.getBoundingClientRect();
      const canvasRec = this.$canvasEl.getBoundingClientRect();
      const ctx = this.$canvasEl.getContext('2d');

      // const offsetY = childRec.height/2;
      // const offsetX = childRec.width/2;
      const leftBound = parentRec.left;
      const rightBound = parentRec.right;
      const topBound = parentRec.top;
      const bottomBound = parentRec.bottom;
      

      if( leftBound < event.clientX && rightBound > event.clientX ) {
        this.mouse.x = event.clientX - childRec.width;
      }
      if( topBound < event.clientY && bottomBound > event.clientY ){
        this.mouse.y = event.clientY - childRec.height;
      }

      //canvas stuff
      const canvasCoordinates = {
        x: mX - canvasRec.x,
        y: mY - canvasRec.y
      }
      const colorPoint = ctx.getImageData(canvasCoordinates.x, canvasCoordinates.y, 1, 1).data;
      this.currentColor = {
        red: colorPoint[0],
        green: colorPoint[1],
        blue: colorPoint[2],
      }
    },
    handleMouseLeave(){
      this.track = false;
    },
    handleMouseEnter(event){
      const childRec = this.$refs['color-selector'].getBoundingClientRect();
      this.mouse.x = event.clientX- childRec.width/2;
      this.mouse.y = event.clientY- childRec.height/2;
      this.track = true;
    },
    paintPallete(){
      const ctx = this.$canvasEl.getContext("2d");
      const cWidth = this.$canvasEl.width;
      const cHeight = this.$canvasEl.height;
      
      if(cHeight > cWidth){
        for(let i = 0; i <= cHeight; i++ ){
          const grad = ctx.createLinearGradient(0,i,cWidth,i);
          const l = i * (360/cHeight);
          grad.addColorStop(0, `hsl(${l}, 100%, 0%)`);
          grad.addColorStop(.5, `hsl(${l}, 100%, 50%)`);
          grad.addColorStop(1, `hsl(${l}, 100%, 1000%)`);
          ctx.fillStyle = grad;
          ctx.fillRect(0, i, cWidth, i);
        }
      } else {
        for(let i = 0; i <= cWidth; i++ ){
          const grad = ctx.createLinearGradient(i,cHeight,i,0);
          const l = i * (360/cWidth);
          grad.addColorStop(0, `hsl(${l}, 100%, 0%)`);
          grad.addColorStop(.5, `hsl(${l}, 100%, 50%)`);
          grad.addColorStop(1, `hsl(${l}, 100%, 1000%)`);
          ctx.fillStyle = grad;
          ctx.fillRect(i, 0, i, cHeight);
        }
      }
    },
    onResize(){
      this.$canvasEl.width = parseInt(getComputedStyle(this.$canvasContainer).width)+1;
      this.$canvasEl.height = parseInt(getComputedStyle(this.$canvasContainer).height)+1;
      this.paintPallete(); 
    }
  },
  
  mounted(){
    //we have to manage some stuff for the canvas element on mount
    //get the container element for size and the canvas element to setup context & paint
    this.$canvasEl = this.$refs['color-pallete'];
    this.$canvasContainer = this.$refs['palette-container'];

    //get the size of the container. This allows us to adjust for mobile with an @media tag
    //and set styles within the component instead of sending them in as props. 
    this.$canvasEl.width = parseInt(getComputedStyle(this.$canvasContainer).width)+1;
    this.$canvasEl.height = parseInt(getComputedStyle(this.$canvasContainer).height)+1;

    this.provider.context = this.$canvasEl.getContext('2d');
    this.paintPallete();
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    })

  },
  beforeDestroy() { 
    window.removeEventListener('resize', this.onResize); 
  }

};
</script>
<style scoped>

.palette {
  position: absolute;
  left: -1px;
  top: -1px;
  border-radius: 100px;

}
.container {
  display: inline-block;
}
.palette-container {
  display: inline-block;
  overflow: hidden;
  padding: 0;
  margin-top: 2px;
  opacity: 1;
  -moz-box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 9px -1px rgba(0,0,0,0.57); 
  border: 9px solid white;
  position: relative;
  width: 600px;
  height: 60px;
  border-radius: 100px;
}

.color-selector {
  position: fixed;
  border: 3px solid white;
  -moz-box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.6); 
  border-radius: 100px;
  height: 44px;
  width: 44px;  
  transform: translateX(22px) translateY(22px);
}

@media screen and ( max-width: 850px ) {
  .interface-container {
    position: fixed;
    padding: 0 12px;
    bottom: 0px;
  }
  .palette-container {
    width: 600px;
  }
  .color-selector{
    width: 100px;
    height: 100px;
    transform: translateX(-50px) translateY(-50px);
  }
}

@media screen and ( max-width: 740px) {
  .palette-container {width: 400px;}
}

@media screen and (max-width: 450px){
  .palette-container {
    width: 60px;
    height: 350px;
    border-radius: 100px;
  }
}

@media screen and (max-width: 320px){
  .palette-container {
    width: 60px;
    height: 350px;
    border-radius: 100px;
  }
}

</style>