<template>
  <div class="hitbox" 
    @mousemove = "handleMouseMove" 
    @mouseout= "handleMouseOut"
    @mouseover="handleMouseEnter"
    @mousedown="handleGrow"
    @mouseup="handleClick"
    >
    <div
      v-show="show"
      class="circle" 
      :mousedown = "handleGrow" 
      :mouseup = "handleClick"
      :style="{
        height: size + 'px', 
        width: size + 'px', 
        border: `2px solid rgba(${ color.red }, ${ color.green }, ${ color.blue }, 01)`,
        boxShadow: `0 0 5px 3px rgba(${ color.red }, ${ color.green }, ${ color.blue }, 1)`,
        webkitBoxShadow: `0 0 5px 1px rgba(${ color.red }, ${ color.green }, ${ color.blue }, .7)`,
        left: centerTracker(mPosition.x, size),
        top: centerTracker(mPosition.y, size),
        boxSizing: 'border-box'
        }"
      >
        <div class="tooltip" v-if="showToolTip">
          Click, or Click &amp; Hold
        </div>
      </div>
      <div class="mobile-tip" v-if="showToolTip">Tap anywhere</div>
  </div>
</template>
<script>
export default {
  name: 'MouseTracker',
  props: ['position', 'color', 'showToolTip'],
  data: () => ({
      startSize: 30,
      size: 30,
      minReturnSize: 1,
      maxSize: 80,
      mPosition: {x:500, y:500},
      show: false,
      growInterval: null
  }),
  methods: {
    handleGrow(){
      //increment size on timer till max size
      this.$emit('handle-grow');
      this.growInterval = setInterval(()=>{
        this.size = this.size < this.maxSize ? this.size+1 : this.maxSize;
      }, 10);
    },
    handleClick(){
      //emit/return current size
      clearInterval(this.growInterval);
      const returnSize = this.size > this.startSize ? this.size - this.startSize : this.minReturnSize;
      this.$emit('create-dust', this.mPosition, returnSize)
      this.reset();
    },
    handleMouseMove(event){
      this.mPosition = {...{
        x: event.clientX,
        y: event.clientY
      }} 
    },
    handleMouseOut(){
      this.show = false;
    }, 
    handleMouseEnter(){
      this.show = true;
    },
    reset(){
      this.size = this.startSize;
    },
    centerTracker: (axisPoint, trackerSize) => {
        return axisPoint - trackerSize/2 + "px";
    }
  }
}
</script>
<style scoped>
  .hitbox{
    display: block;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
  .circle {
    display: block;
    border-radius: 200px;
    background-color: transparent;
    height: 10px;
    width: 10px;
    border: 7px solid tansparent;
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 2147483645;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(161,190,239,1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(161,190,239,1);
    box-shadow: 0px 0px 15px 2px rgba(161,190,239,1);
  }
  .circle .tooltip {
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    left: 40px;
    top: 6px;
    color: #444;
  }
  .mobile-tip{
    display: none;
  }

  @media screen and (max-width : 850px) {
    .interface-container {
      padding: 0 12px;
      bottom: 0px;
    }
    .mobile-tip {
      display: block;
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      z-index: 0;
    }
  }
  @media screen and (max-width: 850px){
    .circle {
      display: none;
    }
  }
</style>