<template>
  <transition name="fade">
    <div 
      class="ball-scale-ripple-multiple spinner" 
      :style="{ top: `${position.y.toFixed()}px`, left: `${position.x.toFixed()}px`}"
      v-if="show">
      <div 
        v-for="number in 4"  
        :key="`spinnerCircle${number}`" 
        :style="{
          backgroundColor: `rgba(${ color.red }, ${ color.green }, ${ color.blue }, 01)`,
          boxShadow: `0 0 5px 3px rgba(${ color.red }, ${ color.green }, ${ color.blue }, 1)`,
          webkitBoxShadow: `0 0 5px 3px rgba(${ color.red }, ${ color.green }, ${ color.blue }, 1)`
          }">
      </div>
    </div>    
  </transition>

</template>
<script>
export default {
  name: "Spinner",
  props: ['show', 'color', 'position']
}
</script>
<style scoped>
.spinner {
  position: absolute;
  top: 500px;
  left: 500px;
}

/* .container {
  height: 100%;
  width: 100%;
}

.point {
  background-color: black;
  height: 2px;
  width: 2px;
  margin: 0;
  position: fixed;
  top: 500px;
  left: 500px;
  z-index: 100000;
} */

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to  {
  transition: opacity .5s;
  opacity: .3;
}


@-webkit-keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1; }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5; }
  100% {
    opacity: 0.0; } }

@keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1; }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5; }
  100% {
    opacity: 0.0; } }



.ball-scale-ripple-multiple {
  position: absolute;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px); }
  
  .ball-scale-ripple-multiple > div:nth-child(0) {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; 
            width: 70px;
            height: 70px;
            top: 30px;
            left: 10px;}
  .ball-scale-ripple-multiple > div:nth-child(1) {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; 
            width: 50px;
            height: 50px;
            top: -20px;
            left: -10px;}
  .ball-scale-ripple-multiple > div:nth-child(2) {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; 
            width: 40px;
            height: 40px;}
  .ball-scale-ripple-multiple > div:nth-child(3) {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; 
            width: 30px;
            height: 30px;
            top: 30px;
            left: -10px;}
  .ball-scale-ripple-multiple > div {
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute;
    height: 70px;
    width: 70px;
    top: -10px;
    left: -35px;
    border-radius: 100%;
    -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8);
            animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(0.21, 0.53, 0.56, 0.8); }

</style>